@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@import "reset.css";
@import "variables.css";

/*components*/
@import "components/status-bar.css";
@import "components/menu-bar.css";

/*screens*/
@import "screens/screen-error.css";
@import "screens/login.css";
@import "screens/re-first.css";
@import "screens/item.css";

body {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: #2e363e;
  background-color: #f8f8ff;
  margin: 0 auto;
}
