section {
  width: 95%;
  padding: var(--menu-bar__padding);
  margin-top: var(--menu-bar__margin-top);
}
.item__subImg {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin: 3px 0 6px 0;
}
.item-info {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background__white);
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

.item-info__1 {
  line-height: 1.4;
  margin-bottom: 10px;
}

.item-info__2 {
  position: relative;
}

.item__add > a {
  width: 75%;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
}

.item__add > a > i {
  padding-right: 10px;
  font-size: 27px;
}

.item__iconbox {
  position: absolute;
  top: 25%;
  right: 8%;
  font-size: 30px;
}
