.first-slide__images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  position: relative;
}

section i {
  opacity: 0.7;
  transition: 0.3s;
}
.first-slide__images-icon > a:first-child:hover {
  opacity: 1;
  animation: moveLeft 1.5s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px) scale(1.1);
  }
  100% {
    transform: translateX(0px);
  }
}

.first-slide__images-icon > a:last-child:hover {
  opacity: 1;
  animation: moveRight 1.5s linear infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px) scale(1.1);
  }
  100% {
    transform: translateX(0px);
  }
}

.first-slide {
  width:100%;
  position: relative;
}

.first-slide__images-icon {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  top: 380px;
}

.first-slide__images-icon > a {
/*  padding: 0 10px;*/

}

.source {
  position: absolute;
  bottom: 8px;
  right: 100px;
  font-size: 10px;
  color: beige;
}
